<div class="histories">
  <% @users.each do |user| %>
    <div class="history">
      <%= link_to (current_user == user ? stories_path : edit_user_path(user.id)) do %>
        <%= image_tag(user.image_profile.attached? ? user.image_profile : "avatar-default.webp", style: "width: 50px; height: 50px;") %>
      <% end %>
    </div>
  <% end %>
</div>
