.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  @include themify {
    background-color: theme('backgroundColor-main');
  }
}

.histories {
  overflow: auto;
  margin: 0 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.histories .history{
  border-radius: 50%;
  border: $border;
  flex-direction: column;
  margin: 8px 4px;

  img {
    height: 3rem;
  }

  @include themify {
    background-color: theme('color');
  }
}
