.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  @include themify {
    background-color: theme('backgroundColor-main');
  }
}

.histories {
  height: 5rem;
  margin: 1rem 1rem 0;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.histories .history{
  border-radius: 50%;
  border: $border;
  flex-direction: column;
  margin: 0 4px;

  img {
    height: 100%;
  }

  @include themify {
    background-color: theme('color');
  }
}
