.user-config {
  flex-direction: column;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5%;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .field {
    flex-direction: column;
    gap: 4px;
  
    label {
      font-size: 1rem;
    }

    i {
      font-size: 0.8rem;
    }
  
    input {
      border-radius: 50px;
      border: none;
      padding: 10px 1.5rem;
    }
  }
}

.form .actions {
  justify-content: space-between;
  margin-top: 1rem;

  input, button,
  &__warning button,
  &__danger button {
    border-radius: 50px;
    font-size: 20px;
    padding: 4px 3rem;
  }

  &__warning, &__danger {
    justify-content: space-between;
    margin-top: 1rem;

    button, form {
      width: 100%;
    }
  }
}

.form .return {
  align-items: center;
  border-radius: 50px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 0 3rem;
  text-decoration: none;

  i {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
}

@include legacy-themify {
  .form {
    input {
      background-color: theme('backgroundColor-tertiary');
    }
  
    .actions__danger button {
      background-color: darken(theme('backgroundColor-tertiary'), 0%);
    }
  
    .return, .actions input, .actions button {
      background-color: darken(theme('backgroundColor-main'), 10%);
    }
  
    .actions__warning button {
      background-color: darken(theme('backgroundColor-main'), 20%);
    }

    .actions__danger button,
    .actions input, .return,
    .actions button,
    .actions__warning button {
      border: 1px solid theme('colorInverted');
    }
  
    .return, i, input,
    .actions__danger button,
    .actions__warning button,
    .actions input,
    .actions button {
      color: theme('colorInverted');
    }
  }
}
