<div data-controller="search">
    <div class="field" >
        <label for="search_input">Search a post or user:</label>
        <input type="text" data-search-target="search_input" name="search_input">
    </div>

    <div data-search-target="searched">
        <h3>No users searched</h3>
    </div>
</div>
