<div class="field" data-controller="search">
    <label for="search_input">Search a post or user:</label>
    <input type="text" class="search_input" name="search_input">
</div>

<div class="searched">
    <h3>No users searched</h3>
</div>
