<div data-controller="story_users">
  <%# This empty is for add stories and their elemtents controlled by JS %>
  <div data-story_users-target="content_u">
    <p data-target="story_users.user" data-user-id="<%= @user.id %>"></p>
  </div>
</div>
