.container footer {
  padding: 1rem;

  a {
    display: flex;
    margin: auto;

    i {
      font-size: 2.5rem;
    }
  }

  .current-user {    
    img {
      border-radius: 50%;
      height: $avatar-size;
      width: $avatar-size;
    }
  }
}

@include desktop-lg {
  .container footer {
    background: transparent;
    flex-direction: column;
    grid-area: footer;
    padding: 0;

    a {
      align-items: center;
      margin: 0;
      padding: 1rem;
      
      &.home::after {
        content: "Home";
      }
  
      &.search::after {
        content: "Search";
      }
  
      &.new-post::after {
        content: "Post";
      }
  
      &.my-routines::after {
        content: "Routine";
      }
  
      &.current-user::after {
        content: "Profile";
      }

      &::after {
        font-size: 1.5rem;
        margin-left: 1rem;
      }

      i {
        width: 50px;
      }
    }
  }
}

@include legacy-themify {
  .container footer {
    a {
      i, &::after {
        color: theme('colorInverted');
      }

      &:hover {
        background-color: theme('colorInverted');

        i, &::after {
          color: theme('color');
        }
      }
    }

    .current-user img {
      border: 1px solid theme('color');
    }
  }
}
