.container footer {
  padding: 1rem;

  @include themify {
    background-color: theme('colorInverted');
  }

  a {
    display: flex;
    margin: auto;

    i {
      font-size: 2.5rem;

      @include themify {
        color: theme('color');
      }
    }
  }

  .current-user {    
    img {
      border-radius: 50%;
      height: $avatar-size;
      width: $avatar-size;
      
      @include themify {
        border: 1px solid theme('color');
      }
    }

  }
}
