$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;

@mixin mobile {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop-lg {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin desktop-xl {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin themify( $themes: $themes ) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@mixin legacy-themify($themes: $themes, $class-name: null) {
  @each $theme, $map in $themes {
    $theme-map: () !global;

    @each $key, $value in $map {
      $value: map-get(map-get($themes, $theme), '#{$key}');
      $theme-map: map-merge($theme-map, ($key: $value)) !global;
    }

    @if $class-name {
      .theme-#{$theme} .#{$class-name} {
        @content;
      }
    } @else {
      .theme-#{$theme} {
        @content;
      }
    }

    $theme-map: null !global;
  }
}
