<h1>Post: </h1>

<%= Date.today %>
<% @posts.each do |post| %>
  <div class='post'>
    <h2> <%=post.body%> </h2>
    <%= link_to posts_path(post.id) do%>
      <h4>Detalles</h4>
    <%end%>
  </div>
<% end %>
