.btn {
    align-items: center;
    border-radius: 40px;
    border: black solid 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 10px 20px 30px;
    outline: none;
    width: 80%;
}

.btn2 {
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 10px 20px 30px;
    outline: none;
    width: 80%;
}

.btn, .btn2 {
    @include themify {
    background: theme("backgroundColor-secondary");
    }
}

.center {
    align-content: center;
    }

@include desktop-lg {

    .btn {
        border-radius: 40px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        margin: 0 10px 20px 30px;
        outline: none;
        width: 80%; 
        @include themify {
            background: theme("backgroundColor-main");
        }
    }

    .btn2 {
        border-radius: 40px;
        border: none;
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        outline: none;
        width: 80%; 
        @include themify {
            background: theme("backgroundColor-main");
        }
    }
}

.center {
    align-content: center;
}

.btn {
  &__extra {
    align-items: center;
    border-radius: 50px;
    border: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 0 3rem;
    text-decoration: none;
  
    i, i::before {
      font-size: 1.5rem;
      padding: 0 0.5rem;
    }
  }
  
  &__actions {
    border-radius: 50px;
    justify-content: space-between;
  
    input, button,
    &__danger button {
      border-radius: 50px;
      border: none;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
      font-size: 20px;
      padding: 4px 3rem;
    }
  
    &__turbo-method {
      justify-content: space-between;
  
      button, form {
        width: 100%;
      }
    }
  
    &__devise-links {
      flex-direction: column;
      gap: 1.5rem;
  
      a {
        font-size: 1rem;
      }
    }

    .unfollow, .follow {
      font-size: 1rem;
      padding: 4px 8px;
    }
  }
}


@include legacy-themify {
  .btn {
    &__extra {
      background-color: theme('backgroundColor-secondary');
      
      a, i, &{
        color: theme('inputs-font-color');
      }
    }

    
    &__actions {
      background-color: theme('backgroundColor-secondary');

      &__danger {
        background-color: $danger-bg;
      }

      &__info, &__info input, &__info button {
        background-color: $info-bg;
      }

      &__info, &__danger,
      &__info button, &__danger button,
      &__info input, &__danger input {
        color: $white;
      }
    }
  }
}
