.btn {
    align-items: center;
    border-radius: 40px;
    border: black solid 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 10px 20px 30px;
    outline: none;
    width: 80%;
}

.btn2 {
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 10px 20px 30px;
    outline: none;
    width: 80%;
}

.btn, .btn2 {
    @include themify {
    background: theme("backgroundColor-secondary");
    }
}

.center {
    align-content: center;
    }

@include desktop-lg {

    .btn {
        border-radius: 40px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        margin: 0 10px 20px 30px;
        outline: none;
        width: 80%; 
        @include themify {
            background: theme("backgroundColor-main");
        }
    }

    .btn2 {
        border-radius: 40px;
        border: none;
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        outline: none;
        width: 80%; 
        @include themify {
            background: theme("backgroundColor-main");
        }
    }
}

    .center {
        align-content: center;
    }

