.btn {
    align-items: center;
    background:$secondary-color-light;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 10px 20px 30px;
    outline: none;
    width: 80%;
}

.btn2 {
    background:$secondary-color-light;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 10px 20px 30px;
    outline: none;
    width: 80%;
}
.center {
    align-content: center;
}

@include desktop-lg {

    .btn {
        background: $main-color-light;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        margin: 0 10px 20px 30px;
        outline: none;
        width: 80%;
    }

    .btn2 {
        background: $main-color-light;
        border-radius: 40px;
        border: none;
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        outline: none;
        width: 80%; 
    }

    .center {
        align-content: center;
    }
}
