.wrapper > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.wrapper {
    align-items: center;
    background: $tertiary-color-light;
    border-radius: 30px;
    color:$color-light;
    flex-direction: column;
    height: 55%;
    justify-content: center;
    margin: auto;
    width: 75%;

}
    
    .wrapper h2 {
        font-size: 36px;
        text-align: right;

    } 
        
.wrapper .remember-forgot {
    font-size: 14.5px;
    justify-content: space-between;
    align-items: center;

    label {
        margin-right: auto;
        padding: 4px;

    }
}

.wrapper .register-link {
    font-size: 14.5px;
    margin: 20px 0 15px;
    text-align: center;

}

.register-link p a {
    color:$color-light;
    font-weight: 600;
    text-decoration: none;

}

.register-link p a:hover {
    text-decoration: underline;

}

.signuplabel {
    margin: 0 40px 0 40px;

}

.logo {
    display: grid;
    place-items: center;
    
    h1 {
        font-family: 'Black Ops One', sans-serif;
        font-weight: 100;
        
    }
    
}

.links {
    flex-direction: column;

    &__devise {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
}

.new_user {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
    width: 100%;

}

@include desktop-lg {

    .logo {

        display: grid;
        place-items: center;
        
        h1 
        {

            font-family: 'Black Ops One', sans-serif;
            font-weight: 100;
            
        }
        
    }

    .wrapper {
        
        background:$tertiary-color-light;
        border-radius: 10px;
        color:$color-light;
        padding: 80px 20px ;
    }
    
    .wrapper h2 {
        font-size: 36px;
        text-align: center;
    } 
    
    .wrapper .remember-forgot {
        display: flex;
        font-size: 14.5px;
        justify-content: space-between;
        margin: -8px 0 8px;
    }
    
    .remember-forgot label, check_box {
        
        accent-color:$color-light;
        margin: 10px 220px 10px 10px;
    
    }
    
    .wrapper .register-link {
        font-size: 14.5px;
        margin: 20px 0 15px;
        text-align: center;
    }
    
    .register-link p a {
        color:$color-light;
        font-weight: 600;
        text-decoration: none;
    }
    
    .register-link p a:hover {
        text-decoration: underline;
    }
    
    .signuplabel {
        margin: 0 40px 0 40px;
    }
}
