.wrapper .input-box {
    height: 60px;
    width: 60%;
}

.input-box input {
    border-radius: 20px;
    border: none;
    font-size: 16px;
    height: 10px;
    outline: none;
    padding: 10px 45px 20px 20px;
    width: 100%;
    @include themify {
        color: theme("colorInverted");
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-box input::placeholder {
    @include themify {
        color: theme("colorInverted");
    }
}

@include desktop-lg {

    .wrapper .input-box {
        height: 45px;
        margin: 25px 0;
        position: relative;
        width: 100%;
    }
    
    .input-box input {
        border-radius: 40px;
        border: none;
        font-size: 16px;
        height: 50%;
        outline: none;
        padding: 20px 45px 20px 20px;
        width: 100%;
        @include themify {
            color: theme("colorInverted");
        }
    }
    
    .input-box input::placeholder {
        @include themify {
            color: theme("colorInverted");
        }
    }
}
