<footer>
  <%= link_to root_path do %>
    <i class="bi bi-house-fill"></i>
  <% end %>
  <a href="">
    <i class="bi bi-search"></i>
  </a>
  <%= link_to new_post_path do %>
    <i class="bi bi-plus-square"></i>
  <% end %>
  <a href="">
    <i class="bi bi-heart-fill"></i>
  </a>
  <%= link_to posts_path, class: 'current-user' do %>
    <%= image_tag('default-light.png', alt: 'Current User', style: 'width: 45px') %>
  <% end %>
</footer>
