<header>
  <div>
    <%= image_tag('logo.png', alt: 'GYMRAT') %>
    <h1>GYMRAT</h1>
    <%= link_to edit_user_registration_path do %>
      <i class="uil uil-setting"></i>
    <% end %>
  </div>
</header>
