$danger-bg: #f1000b;
$info-bg: #006ff1;
$board-bg: #79D36B;
$green-bg: #24c78e;

$main-color-light: #FFFFFF;
$secondary-color-light: #efefef;
$tertiary-color-light: #d9d9d9;
$black: #000;

$main-color-dark: #252525;
$secondary-color-dark: #efefef;
$tertiary-color-dark: #3B3B3B;
$white: #fff;

$themes: (
  light: (
    backgroundColor-main: $main-color-light,
    backgroundColor-secondary: $secondary-color-light,
    backgroundColor-tertiary: $tertiary-color-light,
    color: darken($white, 10%),
    colorInverted: lighten($black, 10%),
    inputs_font_color: $black,
  ),
  dark: (
    backgroundColor-main: $main-color-dark,
    backgroundColor-secondary: $secondary-color-dark,
    backgroundColor-tertiary: $tertiary-color-dark,
    color: darken($black, 10%),
    colorInverted: darken($white, 10%),
    inputs-font-color: $black,
  ),
);
